<% include ./partials/header %>

<div>
  <div class="signup-form back mt-4 mb-4">

  <form action="/student/createTeam" method="POST">
      <div class="centering">
          <div class="container">
             <h1 class="text-uppercase text-center mentor">Team Registration</h1>

        <div class="row">
                <label for="email" class="required">Enter Team Username</label>
             <input type="text" autofocus="on" name="team" placeholder="Team Username (Case sensitive)" class="form-control">
             <br /><br />  <label for="members" class="required">Enter The number of members(do not include the mentor)</label>
             <select class="form-control" name="members" id="members" onchange="checkValues()">
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
        </div>
        <input type="checkbox" name="mentorRequired" onchange="checkValues()" id="mentorRequired" ><label for="mentorRequired" id="label4mentor">Check if you want a mentor (Make sure you have read the rules before proceeding)</label><br>
 <div class="buttoncustom col-md-6">
        <input type="button" name="Register" value="Register" onclick="validateForm()" class="ui bg-dark button text-light myclass">
        </div>
    </div>
  </div>
  </form>
</div>
</div>

        <script type="text/javascript">
          $(".myclass").hover(function(){
            $(this).toggleClass("bg-dark");
            $(this).toggleClass("bg-success");
          });



        </script>
<script>
    function checkValues() {
        console.log(typeof $("#members").val());
        if(($("#members").val() === '5') && ($("#mentorRequired").val() === 'on')) {
            console.log("HEllo");
            $("#members").val("4");
        }
    }

    function validateForm() {
        console.log($("#members").val());
        if($("#members").val() > 5) {
            alert("Maximum members allowed are 5");
        }
        else if(($("#members").val() == 5) && ($("#mentorRequired").val() == "on")) {
            alert("If you require a mentor the maximum members allowed are 4");
        }
    }
</script>
<% include ./partials/footer %>