<% include ./partials/header %>
</form>
<div class = "scrollit">

  <%
  if(student.length === 0) { %>
    <form action="/student/createTeam" method="GET">
        <button class="btn btn-info btn-sm">Create Team</button>
      </form>
    
      <form action="/student/joinTeam" method="GET">
        <button class="btn btn-info btn-sm">Join Team</button>
      </form>
  <% } else { if(student.length !== 0) {%>
    <table class="">
            <tr class="thead-dark">
              <th>Name</th>
              <th>Roll No.</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
      <%} console.log(student.length); for(var i=0; i < student.length; i++) {%>
        <tr>
            <td><%=student[i].name%></td>
            <td><%=student[i].rollNumber%></td>
            <td><%=student[i].username%></td>
            <td><%=student[i].phone%></td>
        </tr>
  <% }} %>  
  
</table>
</div>

<% include ./partials/footer %>